.active {
    border-bottom: 3px solid #DE1631;
    color: #000!important;
    font-weight: bold;
}

.active > a {
    color: #000!important;
    background-color: #fff!important;
}

.alert-danger a{
    color: #a94442;
    text-decoration: underline;
}

.alert-danger a:hover {
    text-decoration: none;
}

.navbar-nav>li>a {
    font-size: 1.2em;
}

#navbar {
    padding-bottom: 40px;
}

.navbar-brand {
    border-bottom: 3px solid #DE1631;
    color: #000!important;
    font-size: 2em;
    font-weight: bold;
}

.navbar {
    background: none;
    border: none;
}

.navbar-nav {
    padding-right: 85px;
}