{% extends "base.html" %}

{% block content %}
<h2>Co přesně jsou Černé historky?</h2>
Černé historky jsou překvapivé, zamotané a straši- delné příběhy, které se mohly stát přesně tak jak je ve hře popsáno. Nebo téměř tak. Jeden člověk (vypravěč) je jediný, kdo zná celý příběh. Ostatní lidé (hadači) znají jen situaci na konci příběhu a pomocí důvtipných otázek, na které vypravěč odpovídá, se pokoušejí dopracovat k tomu, jak se celý příběh odehrál. Někdy najdete řešení velice rychle - stačí dvě nebo tři otázky a již jste na správné cestě k vyřešení záhady. Jindy ale i zdánlivě jednoduchý příběh může být velmi tvrdým oříškem.<br/><br/>

Černé historky jsou velmi populární v mnoha ze- mích a stále si získávají další věrné fanoušky. Je- jich sběratel a autor Holger Bősch pro vás do této sbírky připravil 50 svých nejoblíbenějších historek. K nim přidává dobrou radu: „Jelikož každou černou historku můžete (v jedné skupině lidí) vyřešit pouze jednou, nikdy nevzdávejte řešení příliš brzy. Já bych raději strávil hodiny tím, že bych pokládal vypravěči další otázky, než bych si od něj nechal napovědět jednoduchou cestu k řešení.“<br/><br/>

Pokud si historky předem přečtete, ztrácíte tím část zábavy. Pak má smysl hrát pouze roli vypravěče, nikoliv již roli hadače.
{% endblock %}