{% extends "base.html" %}

{% block content %}

{% for card in f["cards"] %}
    {% if card["slug"] == page %}
    <div class="col-md-4 playcard">
        <h2>{{ card["name"] }}</h2>
        <p class="text-center">{{ card["q_text"]|safe|replace("{{ img }}", '<img class="img-responsive center-block" src="%s/%s/%s/%s" alt="%s" />'|format(url_for('static', filename="img"), "sets", card["set"],card["q_img"], card["name"])|safe) }}</p>
    </div>

<div class="col-md-4 col-md-offset-4 playcard">
        <p class="text-center">{{ card["a_text"]|safe|replace("{{ img }}", '<img class="img-responsive center-block" src="%s/%s/%s/%s" alt="%s" />'|format(url_for('static', filename="img"), "sets", card["set"],card["a_img"], card["name"])|safe) }}</p>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}