{% extends "base.html" %}

{% block content %}
<h2>Pravidla hry</h2>
<p>Nejdříve určete jednoho z vás, který bude pro tuto nebo více historek vypravěčem. Jedině on bude znát celý příběh. Ostatní (ve hře se nazývají hadači) se budou ve hře snažit přijít na to, jak se historka přesně odehrála. Vypravěč si vezme horní kartu z balíčku a přečte nahlas text na lícové straně karty (zadání historky). Pak se zeptá všech ostatních hráčů: „Hádejte, jak se to stalo?“.<br /><br />

Celý příběh je vždy napsaný na rubové straně karty. Vypravěč si ho přečte, ale nechá si ho pro sebe. Cílem hadačů je přijít na to, jak přesně se historka stala. Toho mohou docílit tím způsobem, že vypravěči pokládají otázky. Ptát se mohou na cokoli, ale každá otázka musí být formulována tak, aby se na ni dalo odpovědět „ano“ nebo „ne“.<br /><br />

V některých případech se hadačům podaří pomocí důvtipu a vhodně položených otázek brzy dojít ke správnému řešení. Často se ale také stane, že se hadači do příběhu zamotají a pokládají otázky, které ...<br /><br />

... nelze jednoznačně zodpovědět „Ano“ nebo „Ne“. Například: „Byl ten člověk velký nebo malý?“ V takovém případě musí vypravěč trvat na tom, aby byla otázka formulována jinak.<br /><br />

... nelze jednoznačně zodpovědět „Ano“ nebo „Ne, protože by to vedlo k nesprávným závěrům – např. bude- li položena otázka: „Byl ten člověk vysoký?“ ve chvíli, kdy příběh není vůbec o člověku, ale o zvířeti. V tom případě by měl vypravěč velkoryse informovat hadače, že otázka je založena na špatném předpokladu.<br /><br />

... by mohly svést hadače na nesprávnou cestu. Například odpověď na otázku „Byla oběť před smrtí v kostele?“, pokud tato otázka s příběhem vůbec nesouvisí, by mohla hadače svést úplně mimo správný směr. Někdy může dojít k situaci, kdy je těžké rozhodnout, zdali má vypravěč hadačům pomoci nebo má-li je dále nechat hledat řešení. Je pouze na vypravěči, jak se rozhodne. Ovšem, je-li shovívavý, měl by hadače upozornit na to, že položená otázka není pro příběh důležitá.<br /><br />

V každé skupině je také důležitá úloha vypravěče. Ten se může vždy rozhodnout, jestli poskytne hadačům drobné nápovědy k řešení, nebo je nechá tápat. Vypravěč se musí držet příběhu na kartě. Pokud ale odpověď na konkrétní otázku na kartě nenajde, může ji sám podle svého nejlepšího svědomí doplnit. Důležité pravidlo je, že pro účely hry má vypravěč vždy pravdu. To je obzvláště důležité ve chvíli, kdy si hadači myslí, že se příběh mohl odehrát jiným způsobem. Řešení na rubu karty je ve hře vždy jediné správné.</p>
{% endblock %}